/********************Variables*********************/
:root {
  /* Colors */
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: (0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);

  /* typo */
  --basic:12px;
  --first-heading:2em; 
  --second-heading:1.1em; 
  --semi-bold: 500;
  --bold: 600;
  --very-bold:700;
}

/* Font */
@font-face {
  font-family: 'spartan';
  src: url('./assets/font/spartan/Spartan-variables.ttf');
}

/* Overall style */
* {
  font-family: 'spartan';
  font-size:var(--basic);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* modal */
.modal {
  display:none;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index:40;
}
.modal.animate-active {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.modal.animate-inactive {
  -webkit-animation-name: animate--inactive;
  -webkit-animation-duration: 0.4s;
  animation-name: animate--inactive;
  animation-duration: 0.4s
}
.modal__content {
  color: var(--very-dark-gray);
  font-weight: var(--very-bold);
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 4em 4em;
}
ul > li {
  display: inline-block;
  margin-left:2em;
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@-webkit-keyframes animate--inactive {
  from {top:0; opacity:0} 
  to {top:-300px; opacity:1}
}
@keyframes animate--inactive {
  from {top:0; opacity:0}
  to {top:-300px; opacity:1}
}

/* burger btn */

.menu-btn {
  z-index: 50;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.menu-btn__bar {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.menu-btn--active .menu-btn__bar--1 {
  -webkit-transform: translate(-3px, 8px) rotate(45deg);
          transform: translate(-3px, 8px) rotate(45deg);
  background-color: var(--dark-gray);
}

.menu-btn--active .menu-btn__bar--2 {
  opacity: 0;
  transition: all .2s;
}

.menu-btn--active .menu-btn__bar--3 {
  -webkit-transform: translate(-3px, -8px) rotate(-45deg);
          transform: translate(-3px, -8px) rotate(-45deg);
  background-color: var(--dark-gray);
}
/**
* Header
**/
header {
  position: absolute;
  padding: 4em 1.5em;
  width:100%;
}
.header__img-container {
  height:30em;
  width:100%;
}

.header__img {
  display:block;
  height:30em;
  width:100%;
  object-fit: cover;
}

.header__btnWrap {
  position: absolute;
  display: flex;
  bottom: 0;
  right:0;
}
.header__btn {
  height:5em;
  width:5em;
  /* padding:1.6em; */
  border:none;
  cursor: pointer;
  outline:none;
  background-color: var(--black);
}
.header__btn:hover {
  background-color:var(--very-dark-gray);
}
.header__btn img {
  font-size: 10px;
  width: 1.4em;
  height:1.8em;
}
.container {
  position: relative;
  z-index:1;
}
.logo {
  cursor: pointer;
  z-index:10;
}
.darker-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color:var(--dark-gray);
  filter: brightness(.5);
}
.navigation {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.links {
  display:none;
}

/* cards */
.card {
  padding: 3.5em 2.5em;
}
.card__slider {
  display: none;
  flex-direction: column;
}
.card h1 {
  font-size: var(--first-heading);
}
.card__content {
  line-height: 1.5em;
  color:var(--very-dark-gray);
  font-weight: var(--semi-bold);
  margin-top:1em;
}
.card__link--container {
  margin-top:3.5em;
}
.card__link--container a {
  opacity:1;
}
.card__link--container a:hover {
  opacity:0.8;
}
.card__link {
  letter-spacing: .9em;
  text-transform: uppercase;
  color: var(--very-dark-gray);
  font-weight: var(--bold);
  text-decoration: none;
}
.card__link--container img {
  margin-left:1.5em;
}
.hidden {
  display:none;
}
.active {
  display: block;
  -webkit-animation-name: animate--inactive;
  -webkit-animation-duration: 0.4s;
  animation-name: animate--inactive;
  animation-duration: 0.4s
}
/* About */
.card h2 {
  letter-spacing:.2em;
  font-weight: var(--very-bold);
  text-transform: uppercase;
  font-size: var(--second-heading);
}
.about img {
  object-fit:cover;
  width:100%;
}

/* Carousel */
.header__img-container {
  display: none;
}

/* Footer */
footer {
  color: var(--dark-gray);
  text-align: center;
  padding: 1em 0;
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight:var(--semi-bold);
}
footer a {
  color: var(--very-dark-gray);
  text-decoration:none;
  font-weight:var(--bold);
}
/**************** Media queries ****************/
@media (min-width: 52em) {
  .links {
    display:block;
    margin-left:2em;
    font-weight: var(--bold);
    z-index:50;
  }
  .links__item {
    position: relative;
    transition: all 0.2 ease-in-out;
  }
  .links__item:before {
    content:'';
    position: absolute;
    width:100%;
    height:2px;
    bottom:-8px;
    left:0;
    background-color: white;
    visibility:hidden;
    transform: scaleX(0);
    transition: all .5s ease-in-out;
  }
  .links__item:hover {
    cursor:pointer;
  }
  .links__item:hover:before {
    visibility:visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  
  }
  .navigation {
    justify-content:flex-start;
    color:white;
  }
  .menu-btn {
    display:none;
  }
  .top {
    display:flex;
    flex-direction:row;
    height:360px;
  }
  .container {
    flex:1 2 auto;
  }
  .card__slider {
    flex: 1 1 45%;
  }
  .about {
    display:flex;
    flex-direction: row;
    width:100%;
  }
  .about .card {
    height:40vh;
    flex:1 1 45%;
  }
  .about img {
    object-fit:cover;
    flex:1 3 auto;
    min-width:0;
  }
  .header__btnWrap {
    right:-10em;
  }
}
@media (min-width: 64em) {
  .about .card {
    flex:1 1 56%;
  }
  .card {
    padding: 3.5em 4.5em;}
}
@media (min-width: 89.99em) {
  .top {
  height:50vh;
}
  .header__img-container {
    height:100%;
  }
  .header__img {
    min-width:890px;
    height:100%;
  }
  .about .card {
    display:flex;
    flex-direction: column;
    justify-content:center;
    flex:1 1 50%;
  }
  .card__slider {
    flex: 1 1 35%;
  }
  .header__btnWrap {
    right: -8.1em;
  }
  .card {
  padding: 6.5em 5.5em;}
}

@media (min-width: 1920px) {
  .header__btnWrap {
    right: 5em;
  }
}