/********************Variables*********************/
:root {
  /* Colors */
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: (0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);

  /* typo */
  --basic:12px;
  --first-heading:2em; 
  --second-heading:1.1em; 
  --semi-bold: 500;
  --bold: 600;
  --very-bold:700;
}

/* Font */
@font-face {
  font-family: 'spartan';
  src: url('./assets/font/spartan/Spartan-variables.ttf');
}

/* Overall style */
* {
  font-family: 'spartan';
  font-size:var(--basic);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* modal */
.modal {
  display:none;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index:40;
}
.modal.animate-active {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.modal.animate-inactive {
  -webkit-animation-name: animate--inactive;
  -webkit-animation-duration: 0.4s;
  animation-name: animate--inactive;
  animation-duration: 0.4s
}
.modal__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 4em 1.5em;
}
ul > li {
  display: inline-block;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@-webkit-keyframes animate--inactive {
  from {top:0; opacity:0} 
  to {top:-300px; opacity:1}
}
@keyframes animate--inactive {
  from {top:0; opacity:0}
  to {top:-300px; opacity:1}
}

/* burger btn */

.menu-btn {
  z-index: 50;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.menu-btn__bar {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: red;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.menu-btn--active .menu-btn__bar--1 {
  -webkit-transform: translate(-3px, 8px) rotate(45deg);
          transform: translate(-3px, 8px) rotate(45deg);
  background-color: var(--dark-gray);
}

.menu-btn--active .menu-btn__bar--2 {
  opacity: 0;
  transition: all .2s;
}

.menu-btn--active .menu-btn__bar--3 {
  -webkit-transform: translate(-3px, -8px) rotate(-45deg);
          transform: translate(-3px, -8px) rotate(-45deg);
  background-color: var(--dark-gray);
}
/**
* Header
**/
header {
  position: absolute;
  padding: 4em 1.5em;
  width:100%;
}
.header__img-container {
  height:30em;
  object-fit: cover;
}
.header__img {
  height:30em;
  width:100%;
  object-fit: cover;
}
.header__btnWrap {
  position: absolute;
  display: flex;
  bottom: 0;
  right:0;
}
.header__btn {
  padding:1.6em;
  border:none;
  cursor: pointer;
  background-color: var(--black);
}
.header__btn img {
  font-size: 10px;
  width: 1.4em;
  height:1.8em;
}
.container {
  position: relative;
  z-index:1
}
.logo {
  z-index:10;
}
.navigation {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* cards */
.card {
  padding: 3.5em 2.5em;
}
.card h1 {
  font-size: var(--first-heading);
}
.card__content {
  line-height: 1.5em;
  color:var(--very-dark-gray);
  font-weight: var(--semi-bold);
  margin-top:1em;
}
.card__link--container {
  margin-top:3.5em;
}
.card__link {
  letter-spacing: .9em;
  text-transform: uppercase;
  color: var(--very-dark-gray);
  font-weight: var(--bold);
  text-decoration: none;
}
.card__link--container img {
  margin-left:1.5em;
}
.hidden {
  display:none;
}
.active {
  display: block;
}
/* About */
.card h2 {
  letter-spacing:.2em;
  font-weight: var(--very-bold);
  text-transform: uppercase;
  font-size: var(--second-heading);
}
.about img {
  width:100%;
}


/**************** Media queries ****************/
@media (min-width: 48em) {}
@media (min-width: 90em) {}
